
.row {
  position: relative;
  .btn-genre {
    width: 130px;
    height: 40px;
    border-radius: 40px;
    background-color: #212b36;
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px;
  }
}
